$('#shift_#{@shift.id}').addClass('selected');

$('#shift_#{@shift.id}').removeClass('unselected');

$('#your-shifts').html('#{j render @shifts}');

$('#complete').foundation('reveal','open');

$('.unselected').css('opacity','0');
$('.shift-count').html('(#{@user_hours}/12)');
