#intro.reveal-modal.remove-whitespace{"data-reveal" => ""}
  %h3 Welcome to the Healing Arts Scheduler
  %p This year, we will be using this to coordinate healing arts volunteers.
  #intro-buttons
    =link_to new_user_registration_path do
      %button.large Sign up for volunteer shifts
    %button.sign-in Edit your existing volunteer shifts
    =link_to '/schedule' do
      %button Just view the schedule
-if @new_user
  %h3 hey
  :javascript
    $('#intro').foundation('reveal','open');
-else

  .row
    .large-3.columns
      %h4 Your shifts
      .shift-count 0/6
      #your-shifts

        -if @shifts.present?
          =render @shifts
        -else
          click on shifts to claim them
    .large-9.columns
      .row{:style=>'margin-left: 10px;'}
        -dates = ['july 21 2016','july 22 2016','july 23 2016','july 24 2016']
        -dates.each do |d|
          -date = Date.parse(d)
          %h4=date.strftime('%A')
          -Station.all.each do |station|
            .large-4.columns.shifts
              %h5=station.name


              -station.shifts.where(start_time: date.midnight..date.end_of_day).each do |shift|
                -if @available_shifts.include?(shift)
                  .take-shift[shift]{:value=> shift.id, :class => current_user.shifts.include?(shift) ? 'selected' : 'unselected'} #{shift.start_time.strftime('%l%P')}-#{shift.end_time.strftime('%l%P')}

          %hr

  :javascript

    $('.take-shift').on('click', function() {
      $.get('/shifts/'+$(this).attr('value')+'/select');
    });


#complete.reveal-modal.remove-whitespace{"data-reveal" => ""}
  %h3 You have filled in all your shifts, thanks!
  %p You may change them at any point up until the morning of the festival.  Just click on the shifts you no longer want and you will then be able to add a replacement.
  %a.close-reveal-modal ×

#incomplete.reveal-modal.remove-whitespace{"data-reveal" => ""}
  %h3 You just cancelled a shift and no longer meet the necessary volunteering requirements
  %p You must sign up for 6 shifts (12 hours).  Please add another shift by clicking on it.
  %a.close-reveal-modal ×

:javascript
  $('.sign-in').on('click',function() {
    $('#intro-buttons').html('#{j render :partial => "shared/login"}');
  });
