/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 */

#header {
	height: 55px;
	background-color: #518946;
	h3 {
		color: #fff;
		height: 55px;
	}
}
.take-shift {
	margin-bottom: 2px;
	padding: 2px 8px;
	opacity: .95;
	height: 30px;
}
.empty-shift {
	margin-bottom: 2px;
	background-color: gray;
	height: 30px;
}

.take-shift:hover {
	margin-bottom: 2px;
	border: 1px solid black;
	opacity: 1;
}

.login-form {
  background-color: #eee;
  padding: 9px 15px;
  label {
    margin-bottom: 3px;
  }
  input {
    font-size: 17px;
    margin-bottom: 7px;
  }
  margin-top: 25px;
}

.selected {
	background-color: #f4333d;
	color:white;
}
.unselected {
	background-color: #518946;
}
.shifts {
	padding: 3px;
	background-color: #bbb;
}
.shift-count {
	position: absolute;
	top: 0px;
	right: 5px;
	padding: 2px 6px;
	background-color: #f4333d;
	color: #eee;

}

.your-shift {
	height: 25px;
	font-weight: bold;
	padding: 3px 6px;
	background-color: #e7b349;
	margin-bottom: 2px;
	width: 100%;
	display: block;
}
